/*DEVELOPER: Rania Emam, IS117-011, Summer 2024 */
/* the styles for the elements */
* {
	margin: 0 auto;
	padding: 0 auto;
}
html {
	background-color: white;
}
body {
	font-family: "Roboto Thin", Helvetica, sans-serif;
    font-size: 100%;
    width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	margin-left: 10px;
}

a:focus, a:hover {
	font-style: bold;
}

/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;}
header h2 {
	font-size: 175%;
	padding-top: 20px;
}
header img {
	float: left;
}

/* the styles for the navigation menu */
.nav-item{
	padding: 0 75px;
}
/* the styles for the cards */
.row-cols-1 {
	padding: 10px 100px 10px 100px;
	position: center;
}
.row-cols-md-2{
	padding: 10px 100px 10px 100px;
	position: center;
}
.card {
	position: relative;
	width: 50%;
}
.card-img-top {
	display: block;
	width: 100%;
	height: auto;
}
a:focus, a:hover {
	color: white;
	font-style: italic;
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
.card-body{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: black;
}
.card:hover{
	opacity: 50%;
}
.card-body:hover {
	opacity: 100%;
}
.card-title {
	color: white;
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
/* the styles for the footer */
footer {
	clear: both;
}
footer p {
	text-align: center;
	color: black;
	padding: 1em 0;
}
